<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Add new</h1>
<form method="post" action="/post/create">
<p>author</p>
<input type="text" name="author">
<p>title</p>
<input type="text" name="header">
<p>body</p>
<input type="text" name="body">
<input type="submit" value="submit">
</form>

<p><a href="/index">Go Back</a></p>
</body>
</html>
